<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup" >
            <section name="SpotifySongAvailabilityChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SpotifySongAvailabilityChecker.Properties.Settings>
            <setting name="AutoSwitchTabs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowGridlines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowColumnReorder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableProgramResize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableExperiments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SongLink" serializeAs="String">
                <value />
            </setting>
            <setting name="AlbumLink" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchHistoryInput" serializeAs="String">
                <value />
            </setting>
            <setting name="AvailabilitySearchBy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SearchHistoryBy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GeneralColumnSort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedAlbum" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedAreaOfProgram" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableClearingBothInputs" serializeAs="String">
                <value>False</value>
            </setting>
        </SpotifySongAvailabilityChecker.Properties.Settings>
    </userSettings>
</configuration>